.authors {
    text-align: center;
    font-size: 1.7em;
    background-color: #0060CA;
    padding: 2em 0;
    min-height: 80vh;
}

.authors a {
    text-decoration: none;
    color: #fff;
}

.authors a:hover {
    color: #FCDC74;
}
