.AuthorsTitlesPage {
    background-color: #0060CA;
    color: #fff;
    text-align: center;
}

.one-title {
    margin: 1em auto;
}

.back {
    display: block;
    width: 4em;
    margin: 2em auto;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
}

.back:hover {
    background-color: #090089;
}