.book-image {
    background-image: url("./img/book_1.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media(max-width: 767px) {
    .book-image {
        height: 450px;
    }
}