/* #1c658c */
/* #398ab9 */
/* #d8d2cb */
/* #eeeeee */

.Cover {
    height: 400px;
    background-color: #293462;
    text-align: center;
    color: #fff;
}

.Cover .Section-Header {
    padding-top: 2em;
}