.book-form-wraper {
    background-color: #947ec3;
    text-align: center;
}

.form {
    padding: 150px 0;
}

input {
    text-align: center;
    width: 20em;
    background-color: #eef3d2;
    color: #6a67ce;
    font-size: 1.5em;
    margin: 5px 0;
}
::placeholder {
    color: #000;
}

.book-form-wraper button {
    margin-top: 30px;
    width: 20em;
    font-size: 1.5em;
    background-color: #eef3d2;
    color: #000;
}

.book-form-wraper button:hover {
    background-color: #b689c0;
}

@media(max-width: 767px) {
    input {
        width: 12em;
    }

    .book-form-wraper button {
        width: 12em;
    }
}
