.book-form-wraper {
    background-color: #6ebf8b;
    text-align: center;
}

.form {
    padding: 170px 0;
}

input {
    text-align: center;
    width: 20em;
    background-color: #dadbbd;
    color: #151d3b;
    font-size: 1.5em;
    margin: 5px 0;
}
::placeholder {
    color: #000;
}

.book-form-wraper button {
    margin-top: 30px;
    width: 20em;
    font-size: 1.5em;
    background-color: #151d3b;
    color: #dadbbd;
}

.book-form-wraper button:hover {
    background-color: #d82148;
}

@media(max-width: 767px) {
    input {
        width: 12em;
    }

    .book-form-wraper button {
        width: 12em;
    }
}
