@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

.topnav-l {
    background-color: #090089;
    text-align: center;
}

.topnav-l ul {
    text-transform: lowercase;
    list-style: none;
    font-size: 1.8em;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.topnav-l ul li {
    display: inline-block;
    margin: 10px 20px;
}

.topnav-l ul li a {
    color: #fff;
    text-decoration: none;
}

.topnav-l ul li a:hover,
.topnav-l ul li a:focus,
.topnav-l ul li a:active {
    color: #FCDC74;
}

@media(max-width: 767px) {
    .topnav-l ul {
        font-size: 1em;
    }
}