.topnav-l {
    background-color: #151d3b;
    
    text-align: center;
    color: #dadbbd;
}

.topnav-l ul {
    text-transform: lowercase;
    list-style: none;
    font-size: 1.8em;
}

.topnav-l ul li {
    display: inline-block;
    margin: 10px 20px;
}

.topnav-l ul li a {
    color: #dadbbd;
    text-decoration: none;
}

.topnav-l ul li a:hover,
.topnav-l ul li a:focus,
.topnav-l ul li a:active {
    color: #6ebf8b;
}

@media(max-width: 767px) {
    .topnav-l ul {
        font-size: 1.2em;
    }
}